<md-dialog aria-label="井信息"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>井列表</h3>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="imgs/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
<md-dialog-content>
			<div style="margin:20px">
				<div id="grid2" ui-grid="wellGridOptions" ui-grid-selection class="wellgrid" ></div>
			</div>
</md-dialog-content>
 <md-dialog-actions layout="row">
       <md-button class = "md-raised md-primary" ng-click="closeWells()" style="margin-right:20px;">
        确定
      </md-button>
 </md-dialog-actions>
</form>
</md-dialog>
